/* Nav Bar */
.nav-bar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

    .nav-bar a {
        color: white;
        padding: 14px;
        text-decoration: none;
    }

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#home-pics {
    max-width: 200px;
    height: 200px;
}

#shop-pics {
    max-width: 200px;
    height: 200px;
}

/* Force images to be square and centered */
.card-img-top {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 300px;
}

.card .card-img-top {
    display: block;
    margin: 0 auto;
}
